.app{
    width: 90%;
    max-width: 320px;
    margin: 20px auto;
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 25px;
}
.userprofile-card{
    display: flex;
    border-bottom: 1px solid #d3cccc;
    gap: 20px;
    align-items: center;
    padding-bottom: 20px;
}
.userprofile-card img{
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
}
.userProfile-details h5{
    color: #7876a0;
}
.profile-img-wrapper{
    position: relative;
    cursor: pointer;
}
.userprofile-card span{
    position: absolute;
    left: 15px;
    top: 12px;
}
.menuItem-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.option-container{
    display: flex;
    align-items: center;
    gap: 10px;
}
.option-icon{
    background-color: #E7EBF7;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-option-container li,
.other-option li,
.footer-icons li{
    list-style-type: none;
    margin: 15px 0;    
}
.other-option{
    border-top: 1px solid #d3cccc;
}
.main-option-container li,
.other-option li{
    color: #2C2A34;
}
.footer-icons ul{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.footer-icons li{
    cursor: pointer;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #b4b3c7;
}
.footer-icons li:hover{
    background-color: #9AA2E2;
    transition: all 0.3s ease;
    color: #DBDAEC;
}
.error-message{
    color: red;
    font-size: small;
}