*{
  padding: 0;
  margin: 0;
  box-sizing: border-box !important;
}
body{
  background-image: linear-gradient(to bottom, blue, #490638), url(./assets/images/bg-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  height: 100vh;
}

